<?xml version="1.0"?>
<launch>
		<param name="qa_safety" value="0.0"/>
		<param name="qa_energy" value="0.0"/>

	<node pkg="move_base" type="move_base" name="move_base" cwd="node" respawn="false" output="screen">
		<param name="controller_frequency" value="20" />
		<param name="max_vel_x" value="0.5" />
		<param name="inflation_radius" value="0.6" />
	</node>

</launch>
