<?xml version="1.0"?>
<launch>
		<param name="qa_safety" value="0.0"/>
		<param name="qa_energy" value="0.0"/>

	<node pkg="move_base" type="move_base" name="move_base" cwd="node" respawn="false" output="screen">
		<param name="controller_frequency" value="15" />
		<param name="planner_frequency" value="3.0" />
		<param name="global_costmap/update_frequency" value="3.0" />
		<param name="local_costmap/update_frequency" value="7.5" />
		<param name="TrajectoryPlannerROS/max_vel_x" value="0.3" />
		<param name="TrajectoryPlannerROS/max_vel_y" value="0.3" />
		<param name="TrajectoryPlannerROS/acc_lim_x" value="3.6" />
		<param name="TrajectoryPlannerROS/acc_lim_y" value="3.6" />
		<param name="local_costmap/inflater_layer/inflation_radius" value="0.8" />
		<param name="global_costmap/inflater_layer/inflation_radius" value="0.8" />
	</node>

</launch>
